div.caja-turno {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
    padding: 10px 10px 10px 10px;
    color: black;
    border-radius: 8px;
    /* background-color: #e1f3ea;
    border: 2px solid #238744; */
    transition: all 0.2s ease-in-out;
}

div.caja-turno.confirmed {
    background-color: #e1f3ea;
    border: 2px solid #238744;
}

div.caja-turno.cancelled {
    background-color: #fdeaea;
    border: 2px solid #b91c1c;
}

div.caja-turno.pending {
    background-color: #dbeafe; /* azul pastel suave */
    border: 2px solid #60a5fa; /* azul claro pero no brillante */
}

div.caja-turno:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    transform: scale(1.02);
}

div.caja-turno span {
    color: black;
}

/* Columnas */
div.caja-turno div {
    flex: 1;
    text-align: center;
    font-size: 0.875rem;
    font-weight: 500;
}

div.caja-turno div.col-fecha,
div.caja-turno div.col-horario,
div.caja-turno div.col-asunto,
div.caja-turno div.col-cancha,
div.caja-turno div.col-estado,
div.caja-turno div.col-entrenador {
    text-align: start;
}

/* Botones */
div.col-cancelar {
    display: flex;
    justify-content: flex-end;
}

div.col-cancelar button.boton-cancelar {
    padding: 6px 14px;
    border: none;
    border-radius: 5px;
    background-color: #238744;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    text-align: end;
    transition: all 0.2s;
}

div.col-cancelar button.boton-cancelar:hover {
    background-color: #196033;
}

div.col-cancelar button.boton-cancelado {
    padding: 6px 14px;
    border: none;
    border-radius: 5px;
    background-color: #555;
    color: #eee;
    cursor: not-allowed;
    font-size: 14px;
    font-weight: 600;
}

/** ALERT **/
.swal-text {
    text-align: center;
}

/** ALERT **/
